.banner {
  position: relative;
  height: 75vh;
  color: white;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-contents {
  position: absolute;
  bottom: 20%;
  left: 30px;
  z-index: 2;
  max-width: 650px;
}

.banner-title {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.banner-desc {
  width: 100%;
  max-width: 500px;
  line-height: 1.3;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #e5e5e5;
}

.banner-btns {
  display: flex;
  gap: 1rem;
}

.banner-btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  background-color: rgba(51, 51, 51, 0.6);
  color: white;
  transition: all 0.2s ease-in-out;
}

.banner-btn.play {
  background-color: white;
  color: black;
}

.banner-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.banner-fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(20, 20, 20, 0.8),
    #111
  );
  z-index: 1;
}


@media (max-width: 768px) {
  .banner {
    height: 60vh;
  }
  .banner-contents {
    bottom: 15%;
    left: 15px;
    max-width: 90%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-desc {
    font-size: 0.9rem;
  }
}
